.section-section {
  flex: 1;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 120px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: center;
}
.section-text {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-style: normal;
  font-family: "Poppins";
  font-weight: 600;
}
.section-features {
  width: 100%;
  display: flex;
  max-width: 1200px;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  user-select: none;
  border-color: #5A5A5A;
  margin-bottom: 120px;
  flex-direction: row;
  justify-content: center;
  border-bottom-width: 1px;
}
.section-text01 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
}
.section-text02 {
  color: rgb(121, 124, 128);
  font-family: Poppins;
}
.section-text03 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
}
.section-text04 {
  color: rgb(121, 124, 128);
  font-family: Poppins;
}
.section-text05 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 600;
}
.section-text06 {
  color: rgb(121, 124, 128);
  font-family: Poppins;
}
.section-note {
  gap: 140px;
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.section-content {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  display: flex;
  max-width: 520px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.section-main {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.section-heading {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-family: Poppins;
  font-weight: 500;
}
.section-paragraph {
  color: #CCCCCC;
  font-family: Poppins;
  line-height: 28px;
}
.section-explore-more {
  gap: var(--dl-space-space-oneandhalfunits);
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  border-color: #80FF44;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  border-bottom-width: 1px;
}
.section-explore-more:hover {
  opacity: 0.5;
}
.section-text12 {
  color: #80FF44;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.section-image {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.section-image1 {
  object-fit: cover;
}
@media(max-width: 991px) {
  .section-text {
    text-align: center;
  }
  .section-note {
    gap: var(--dl-space-space-fourunits);
    flex-direction: column;
  }
  .section-content {
    max-width: 100%;
  }
  .section-main {
    align-items: flex-start;
  }
}
@media(max-width: 767px) {
  .section-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .section-text {
    font-size: 32px;
    text-align: center;
  }
  .section-features {
    gap: var(--dl-space-space-oneandhalfunits);
    margin-top: var(--dl-space-space-threeunits);
    border-color: #5A5A5A;
    margin-bottom: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .section-feature {
    width: 100%;
    padding-bottom: var(--dl-space-space-unit);
  }
  .section-text01 {
    font-size: 20px;
  }
  .section-feature1 {
    width: 100%;
    border-color: #5A5A5A;
    padding-bottom: var(--dl-space-space-unit);
    border-bottom-width: 1px;
  }
  .section-text03 {
    font-size: 20px;
  }
  .section-feature2 {
    width: 100%;
    padding-bottom: var(--dl-space-space-unit);
  }
  .section-text05 {
    font-size: 20px;
  }
  .section-note {
    gap: var(--dl-space-space-threeunits);
  }
  .section-main {
    width: 100%;
    align-items: flex-start;
  }
  .section-heading {
    font-size: 28px;
  }
  .section-paragraph {
    line-height: 24px;
  }
}
@media(max-width: 479px) {
  .section-image1 {
    width: 100%;
  }
}
